body {
    font-family: Roboto, sans-serif;
}
main {
    min-height: 250px;
}
header ul.nav a.nav-link {
    color: #F16623;
    font-weight: bold;
}
.carousel-caption h5 {
    font-size: 40px;
}
.carousel-caption p {
    font-size: 20px;
}
.carousel-caption {
    margin-bottom: 200px;
}
.btn-outline-orange, .btn-orange:hover {
    outline-color: #F16623;
    border-color: #F16623;
    color: #F16623;
}
.btn-orange, .btn-outline-orange:hover{
    background-color: #F16623;
    color: white;
}